.error {
    color: red;
}

.success {
    color: green;
}

table {
        border: 0.3ex solid black ;
        margin: auto;
        margin-top: 3%;
}

th,td {
    text-align:center;
    padding:1ex;
}

th {
    font-style: italic;
}

