{% extends "main_theme.html" %}

{% block content %}
    <h1>Cambia le quantita {{ session.get('username') }}</h1>
    <h2>Elenco dei tuoi box in vendita:</h2>

    <form action="/handleCambia" method="post">
        <table>
            <tr><th colspan="5">cambia la quantita</th></tr>
            {% for Box in listaBox %}
                <tr><td>{{ Box.boxName }}</td><td>{{ Box.labels }}</td><td>{{ Box.quantity }}</td><td>{{ Box.price }}</td><td>
                    {{ Box.description }}</td><td><input type='text' name='{{ Box.id }}' value=''></td><td><input type="submit" name='submit[{{ Box.id }}]' value="Aggiorna prodotto"></td></tr>
            {% endfor %}

        </table>
    </form>


{% endblock content %}