<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <meta name="description" content="">

    <title>dropFood</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
     <div id="header">
        <header>
           <h1>dropFood</h1>
        </header>
     </div>

    <div id="nav">
        <nav>
            <ul>
                <li><a href=#>Home</a></li>
                {% if not session.get('username') %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
                {% if session.get('username') %}
                    <li>utente: {{ session.get('username') }}</li>
                {% endif %}
                {% if not session.get('username') %}
                    <li><a href="/register">Register</a></li>
                {% endif %}
                <li><a href="/collabora">Collabora con noi</a></li>
                {% if session.get('role')=='gestore' %}
                    <li><a href="/cambia">Cambia</a></li>
                {% endif %}
                <li><a href="/carrello">Carrello</a></li>
                {% if session.get('username') %}
                    <li><a href="/logout">Logout</a></li>
                {% endif %}
                <!-- <li><?php echo (isset($_SESSION["gestore"]) && $_SESSION["gestore"] === 1) ? "<a href=\"cambia.php\">CAMBIA</a>" : "<span class=\"disabledLink\">CAMBIA</span>"; ?></li> -->
                <!-- <li><?php echo (isset($_SESSION["loggedin"]) && $_SESSION["loggedin"] === true) ? "<span class=\"disabledLink\">LOGIN</span>" : "<a href=\"login.php\">LOGIN</a>"; ?></li> -->
                <!-- <li><?php echo (isset($_SESSION["loggedin"]) && $_SESSION["loggedin"] === true) ? "<a href=\"logout.php\">LOGOUT</a>" : "<span class=\"disabledLink\">LOGOUT</span>"; ?></li> -->
            </ul>
        </nav>
    </div>

    <div id="content">
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>

    <div id="footer">
        <footer>
            <p>Copyright &copy; foodDrop 2021</p>
        </footer>
    </div>


    <!-- Bootstrap jQuery, Popper.js, JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>