{% extends "main_theme.html" %}

{% block content %}
    <h1>Carrefour menu</h1>

    <form action="/handleConcludi" method="post">
        <table>
            <tr><td>Box</td><td>labels</td><td>quantità</td><td>prezzo</td><td>descrizione</td>{% if session.get('email') %}<td>seleziona la quantità</td>{% endif %}</tr>
            {% for Box in listaBox %}
                <tr><td>{{ Box.boxName }}</td><td>{{ Box.labels }}</td><td>{{ Box.quantity }}</td><td>{{ Box.price }}</td><td>
                    {{ Box.description }}</td>
                {% if session.get('email') %}
                    <td>
                        <select name='{{ Box.id }}'>
                            {% for i in range(Box.quantity + 1) %}
                                <option value={{ i }}>{{ i }}</option><br>
                            {% endfor %}
                        </select>
                    </td></tr>
                {% endif %}
            {% endfor %}
            {% if session.get('email') %}<tr><td><input type="submit" value="Concludi l'ordine"></td>{% endif %}</tr>
        </table>
    </form>
{% endblock content %}