{% extends "main_theme.html" %}

{% block content %}
    <h1>Carrefour menu</h1>

    <form action="/handleConcludi" method="post">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-2">
                    <h2>Photo</h2>
                </div>
                <div class="col-sm-2">
                    <h2>Box</h2>
                </div>
                <div class="col-sm-2">
                    <h2>Description</h2>
                </div>
                <div class="col-sm-2">
                    <h2>Labels</h2>
                </div>
                <div class="col-sm-2">
                    <h2>Price</h2>
                </div>
                <div class="col-sm-2">
                    <h2>{% if session.get('email') %}Quantità desiderata{% endif %}</h2>
                </div>
            </div>
            {% for Box in listaBox %}
                <div class="row align-items-center text-center">
                    <div class="col-sm-2">
                        <img class="immagini-menu mx-auto mb-5 mb-lg-0" {% set src = "../static/images/" + Box.boxName + ".jpg" %} src={{ src }}>
                    </div>
                    <div class="col-sm-2">
                        <p>{{ Box.boxName }}</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="font-weight-light">{{ Box.description }}</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="font-weight-light">{{ Box.labels }}</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="font-weight-light">{{ Box.price }}</p>
                    </div>
                    <div class="col-sm-2">
                        {% if session.get('email') %}
                        <select class="form-select" name='{{ Box.id }}'>
                            {% for i in range(Box.quantity + 1) %}
                                <option value={{ i }}>{{ i }}</option><br>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <br>
        {% if session.get('email') %}
        <div class="row text-center">
            <div class="col-sm-8 text-center">
                <h3>
                    Seleziona la fascia oraria in cui desideri ricevere l'ordine:
                </h3>
            </div>
            <div class="col-sm-4">
                <select class="form-select">
                        <option value="0">08:00-10:00</option>
                        <option value="2">10:00-12:00</option>
                        <option value="3">12:00-14:00</option>
                        <option value="3">14:00-16:00</option>
                        <option value="3">16:00-18:00</option>
                        <option value="3">18:00-20:00</option>
                </select>
            </div>
        </div>
        </div>
        {% endif %}
        {% if session.get('email') %}<tr><td><input type="submit" class="btn1 mt-5" value="Concludi l'ordine"></td>{% endif %}</tr>
    </form>
{% endblock content %}