{% extends "main_theme.html" %}

{% block content %}
    <h1>Register</h1>

    <form method="POST">
        <ul>
            <li>{{ form.first_name.label }} {{ form.first_name() }}</li>
            <li>{{ form.last_name.label }} {{ form.last_name() }}</li>
            <li>{{ form.email.label }} {{ form.email() }}</li>
            <li>{{ form.password.label }} {{ form.password() }}</li>
            <li>{{ form.address.label }} {{ form.address() }}</li>
            {{ form.hidden_tag() }}
            <li>{{ form.submit() }}</li>
        </ul>
    </form>
{% endblock content %}