{% extends "main_theme.html" %}

{% block content %}
    <h1>Register</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST">
        <ul>
            <li>{{ form.first_name.label }} {{ form.first_name() }}</li>
            <li>{{ form.last_name.label }} {{ form.last_name() }}</li>
            <li>{{ form.username.label }} {{ form.username() }}</li>
            <li>{{ form.email.label }} {{ form.email() }}</li>
            <li>{{ form.password.label }} {{ form.password() }}</li>
            <li>{{ form.birthday.label }} {{ form.birthday() }}</li>
            <li>{{ form.phone.label }} {{ form.phone() }}</li>
            {{ form.hidden_tag() }}
            <li>{{ form.submit() }}</li>
        </ul>
    </form>
{% endblock content %}